<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <meta name="applicable-device" content="mobile">
    <title></title>
    <meta name="renderer" content="webkit"/>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta name="applicable-device" content="mobile">
    <link href="http://bj.offcn.com/zg/common/css/animate.wow.css" rel="stylesheet" type="text/css" />
    <link href="../css/public.css" rel="stylesheet" type="text/css" />
    <link href="../css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../alert/alert.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="http://bj.offcn.com/zg/common/js/jquery.min.js"></script>
    <script src="http://bj.offcn.com/zg/common/js/wow.min.js"></script>
    <script src="../js/loginphp.js"></script>
    <script src="../alert/alert.js"></script>
    <script src="../js/storage.js"></script>
    <script>
        window.onresize = function() {
            change()
        }
        function change() {

            var deviceWidth = document.documentElement.clientWidth;

            var deviceHeight = document.documentElement.clientHeight;

            if(deviceWidth > 750) deviceWidth = 750;

            document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
        }
        change();
    </script>
    
</head>
<body>
    <div class="log-con reg-con">
        <header>
            <i class="go-back go-back-re"></i>
            <p class="login">注册</p>
             <a  href="../home.html" class="home">
                 <p>首页</p>
                 <i></i>
             </a>
        </header>
        <div class="imglogo">
            <img src="../images/register.png" alt="">
        </div>
        <ul class="log-box">
            <li class="li-1">
                <label for="username">姓名：</label>
                <input type="text" id="username" placeholder="请输入姓名">
            </li>
            <li class="li-2">
                <label for="phone">手机号码：</label>
                <input type="text" id="phone" placeholder="请输入手机号">
            </li>
            <li class="li-3">
                <label for="yzm">验证码：</label>
                <input type="text" id="yzm" placeholder="请输入短信验证码">
                <a href="javascript:;" id="getyzm">发送验证码</a>
            </li>
            <li class="li-4">
               <label for="pass">登录密码：</label>
               <input type="password" id="pass" placeholder="请设置6~18位登录密码">
           </li>
           <li class="bor-b">
            <label for="re-pass">确认密码：</label>
            <input type="password" id="re-pass" placeholder="请再一次输入登录密码">
        </li>
           <input type="button" value="注册" id="zhuce">
        </ul>
        <div class="user reg-user">
            <a href="login.html">用户登录</a>
        </div>
    </div>
    <script src="http://bj.offcn.com/zg/zg_tuiguang/"></script>
</body>
</html>